body {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    color: #eee;

    background-color: #000;
    /* Background from : http://www.wallpaperhi.com/Art/Minimalistic/abstract_minimalistic_grunge_backgrounds_1920x1200_wallpaper_87457 */
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85)), url("Blue_Line.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
body::-webkit-scrollbar {
    display: none
}
a {
    text-decoration: none;
    color: #eee
}
.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
@media only screen and (max-width: 45em) {
    .list {
        max-width: 95vw;
        margin: 0 5px
    }
    .textbox {
        width: 90vw
    }
    .list ul {
        -webkit-transition: 800ms max-height ease-out;
        transition: 800ms max-height ease-out;
        overflow: hidden;
        max-height: 0;
        transition-delay: .2s
    }
    .list:hover ul li,
    .list:hover>ul {
        max-height: 800px;
        display: block
    }
    .list ul li {
        display: none
    }
}
.container {
    text-align: center;
    margin-top: 12%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;

}

#temperature{
  font-size: 60px;
  font-family: Roboto;
  font-weight: bolder;

  text-shadow:
  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #ffffff;
}

#summary{
  width: 100%;
  font-family: 'Pacifico', cursive;
  font-size: 3.0rem;
  color: #eee;
}

#time{
  width: 100%;
  font-family: Roboto;
  font-size: 5.5rem;
  color: #eee;
}

#date{
  width: 100%;
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  color: #eee;
}

.footerLeft{
	font-size: 20px;
	position:absolute;
	left:40px;
	bottom:20px;
}
.footerLeft a{
	color:#777;
}

.footerRight{
	font-size: 20px;
	position:absolute;
	right:40px;
	bottom:20px;
}
.footerRight a{
	color:#777;
}
