body {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #fff;
  /* Background properties are intentionally split due to issues encountered when combining */
  background-color: #000;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85)), url("background.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  display: none
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#temperature {
  font-size: 60px;
  font-family: 'Roboto', serif;
  font-weight: bolder;
}

#summary {
  font-family: 'Pacifico', cursive;
  font-size: 3.0rem;
}

#time {
  font-family: 'Roboto', serif;
  font-size: 5.5rem;
}

#date {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
}

.footerRight {
  font-size: 20px;
  text-align: right;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.footerRight a {
  color: #777;
}
